/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* En-tête */
header {
    background-color: #2c3e50; /* Couleur principale de l'en-tête */
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #18bc9c; /* Harmonisation avec le vert */
    border-radius: 5px;
}

/* Principal */
main {
    flex: 1;
    padding: 40px;
    max-width: 1600px; /* Augmenter la largeur maximale */
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 40px;
}

/* Cartes */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px; /* Augmenter l'espace entre les cartes */
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Ajouter plus de padding à l'intérieur des cartes */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 30px; /* Augmenter l'espacement sous le titre */
}

.card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px; /* Augmenter l'espacement sous le texte */
}

.button {
    padding: 15px 30px; /* Augmenter le padding des boutons */
    background-color: #18bc9c;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem; /* Augmenter la taille de la police des boutons */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #15a589;
}

/* Pied de page */
footer {
    background-color: #2c3e50; /* Harmonisation avec l'en-tête */
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
}
